html
    font-size 62.5%
    box-sizing border-box

body
    font-weight fw-regular
    font-family ff-main
    color color-gray
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    
*
*:before
*:after 
    box-sizing: inherit
    border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0

input
    outline none
    border none

a
    text-decoration none
    color color-gray

h1, h2, h3, p, blockquote, figure
    reset()

/* ==========================================================================
   General style
   ========================================================================== */

use-of-classes()

.ml-auto 
    margin-left auto
.mr-auto
    margin-right auto
.mt-auto
    margin-top auto
.mb-auto
    margin-bottom auto

/* ==========================================================================
   Header
   ========================================================================== */

.profile

    padding-right: 15px
    padding-left: 15px
    display flex
    width  83.333333%
    justify-content flex-end

    &__wrap

        background-color yellow

    &__avatar
        width 5rem

    &__arrow
        width 3rem

/* Sub-header
   ========================================================================== */
