html
    font-size 62.5%
    box-sizing border-box

body
    font-weight fw-regular
    font-family ff-main
    color color-gray
    font-size 1.4rem

    position relative
    max-width 192.0rem 
    margin 0 auto
    
*
*:before
*:after 
    box-sizing: inherit
    border 0.1rem solid #a2a1bf 

button
    outline none
    border none
    background none
    cursor pointer
    padding 0
