ff-main = 'Lato'

color-white = #ffffff
color-gray = #555555
color-darkgray = #262829
color-lightgray = #8c8c8c

fw-light = 300
fw-regular = 400
fw-medium = 500
fw-semibold = 600
fw-bold = 700
fw-extrabold = 800
fw-black = 900

overlay-use = false
circle-switcher-use = false